# 03 - Pandas

*KI-basierte Datenanalyse*, HFT Stuttgart, 2024 Summer Term, Michael Mommert (michael.mommert@hft-stuttgart.de)

This Notebook provides an introduction into Pandas. This Notebook is based on material published in the book ["Python for Scientists", 3rd edition, James M. Stewart & Michael Mommert, Cambridge University Press](https://www.cambridge.org/us/universitypress/subjects/mathematics/computational-science/python-scientists-3rd-edition).

In Binder, we first have to install the required packages:

In [ ]:
!pip install -r requirements.txt

We import the Pandas, NumPy and Matplotlib packages:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Pandas is a Python package for data analysis and manipulation. Some functionality, and the concept of DataFrames, follows the R programming language.

## Series

A Series is a one-dimensional sequence in Pandas. We can create a Series from scratch:

In [ ]:
s = pd.Series([-0.3, 0.4, 3.9, 7.4, 12.0, 15.0, 17.2, 16.8, 13.1, 9.1, 3.7, 0.8], name='temp_C')
s

Indexing and slicing works the exact same way as in Numpy. For instance, we can access the fourth element from `s`:

In [ ]:
s[3]

The Series class has a number of useful methods. For a list, see [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html). We showcase some methods from the Series class:

In [ ]:
print('mean:', s.mean())
print('min:', s.min())
print('standard deviation:', s.std())
print('index of max element:', s.argmax())
print('values as list:', s.values)
print('indices of sorted Series:', s.argsort().values)
print('cumulative sum:', s.cumsum().values)

A Series instance has an index. In this case, it's just numbers. We change the row index labels in our Series object to something more meaningful:

In [ ]:
s2 = s.set_axis(['jan', 'feb', 'mar', 'apr', 'may', 'jun', 
                 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'])
s2

Now we can retrieve elements in a more intuitive way:

In [ ]:
s2['oct']

## DataFrames

A DataFrame is a two-dimensional data container. It can hold as many columns and rows as you wish. We create a DataFrame object from a dictionary:

In [ ]:
df = pd.DataFrame({
    'mon': ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 
            'jul', 'aug', 'sep', 'oct', 'nov', 'dec'],
    'temp_C': [-0.3, 0.4, 3.9, 7.4, 12.0, 15.0, 17.2, 16.8, 13.1, 9.1, 3.7, 0.8],
    'rain_mm': [59, 57, 84, 100, 143, 153, 172, 164, 135, 89, 88, 80]})
df

We can create the same DataFrame from a list of lists:

In [ ]:
df2 = pd.DataFrame(
     [['jan', -0.3, 59], ['feb', 0.4, 57], ['mar', 3.9, 84], ['apr', 7.4, 100], 
      ['may', 12.0, 143], ['jun', 15.0, 153], ['jul', 17.2, 172], ['aug', 16.8, 164], 
      ['sep', 13.1, 135], ['oct', 9.1, 89], ['nov', 3.7, 88], ['dec', 0.8, 80]],
     columns=['mon', 'temp_C', 'rain_mm'])

### Axis labels and indexes

A DataFrame has two axis (mind the nomenclature here): one referring to columns and one referring to rows. We can retrieve a list of column names:

In [ ]:
df.columns

... and can we retrieve the row index of the DataFrame object:

In [ ]:
df.index

we can turn this `RangeIndex` into a list:

In [ ]:
list(df.index)

Instead of using this `RangeIndex`, we change the index of our DataFrame to an already existing column (we use the `mon` column here):

In [ ]:
df = df.set_index('mon')
df

This looks more intuitive. We can also define the index column when generating a new DataFrame object:

In [ ]:
df = pd.DataFrame({
    'temp_C': [-0.3, 0.4, 3.9, 7.4, 12.0, 15.0, 17.2, 16.8, 13.1, 9.1, 3.7, 0.8],
    'rain_mm': [59, 57, 84, 100, 143, 153, 172, 164, 135, 89, 88, 80]},
    index=['jan', 'feb', 'mar', 'apr', 'may', 'jun', 
           'jul', 'aug', 'sep', 'oct', 'nov', 'dec'])
df

We complete our introduction of the DataFrame class with a number of useful methods. Please note that DataFrames share most of the methods that we already saw in the Series class. For a full list, please refer to the [DataFrame documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html).

The `head()` method return the first `n` rows of the DataFrame:

In [ ]:
df.head(3)

`tail()` returns the last `n` rows:

In [ ]:
df.tail(2)

The `describe()` method provides a quick statistical overview of the data in our DataFrame:

In [ ]:
df.describe()

### Accessing Data

The `iloc[]` methods allows you to access data in your DataFrame based on row index:

In [ ]:
df.iloc[0]

`iloc[]` works for a list of indices:

In [ ]:
df.iloc[[2,3,5]]

... as well as for a slice of indices:

In [ ]:
df.iloc[2:5]

we can retrieve entire columns as Series objects:

In [ ]:
df.rain_mm

If you don't want to use row numbers, you can use whatever index you defined in your DataFrame. In this case, we have to use the `loc[]` method:

In [ ]:
df.loc['jan']

`loc[]` also supports lists of indices:

In [ ]:
df.loc[['mar', 'apr', 'jun']]

... and slices:

In [ ]:
df.loc['mar':'may']

Note how the slice includes the month of April, which, of course, lies between March and May.

We can also use `loc[]` to retrieve columns, but have to specify rows explicitly:

In [ ]:
df.loc[:, 'rain_mm']

we can combine queries over columns and rows:

In [ ]:
df.loc['may':'sep', 'rain_mm']

we can apply methods over our selection:

In [ ]:
df.loc['may':'sep', 'rain_mm'].sum()

and we can use comparison mechanisms to make selections:

In [ ]:
df.loc[df.rain_mm < 100, 'temp_C']

### Modifying data

we can use the same mechanisms to modify DataFrames and Series objects:

In [ ]:
df2 = df.copy()
df2.loc[df2.rain_mm < 100, 'temp_C'] = 0
df2

we can also use `loc[]` to create a new column:

In [ ]:
df3 = df.copy()
df3.loc[:, 'snowfall'] = [True, True, False, False, False, False, 
                          False, False, False, False, True, True]
df3

we can also add new rows to a DataFrame:

In [ ]:
df3.loc['avg'] = [8.3, 110.3, False]
df3

to add multiple rows, we first have to create a separate DataFrame and then append it to the original DataFrame:

In [ ]:
df2 = pd.DataFrame({'temp_C': [9.7, 9.5, 9.9],
                    'rain_mm': [165.8, 146.1, 139.2]},
                   index=['2020', '2019', '2018'])
pd.concat([df, df2])

we can use `concat()` to append columns, too:

In [ ]:
df2 = pd.DataFrame({'temp_min_C': [-1.9, 1.0, 6.2, 9.7, 13.0, 13.1, 
                                   11.0, 7.8, 3.5, 0.6, -2.5, -3.0],
                    'temp_max_C': [3.5, 6.5, 12.3, 16.8, 20.9, 21.6,
                                  19.2, 16.3, 11.5, 7.3, 3.3, 2.5]},
                   index=['dec', 'nov', 'oct', 'sep', 'aug', 'jul' ,
                          'jun', 'may', 'apr', 'mar', 'feb', 'jan'])
pd.concat([df, df2], axis=1)

we can concatenate DataFrames with different numbers of columns:

In [ ]:
df2 = pd.DataFrame({'temp_C': [9.7, 9.5, 9.9],
                    'rain_mm': [165.8, 146.1, 139.2],
                    'snowfall': [True, True, True]},
                   index=['2020', '2019', '2018'])
pd.concat([df, df2])

Of course, this results in a bunch of NaNs, since the data is missing.

We repeat this exercise with an *inner join*:

In [ ]:
df2 = pd.DataFrame({
    'temp_C': [9.7, 9.5, 9.9],
    'rain_mm': [165.8, 146.1, 139.2],
    'snowfall': [True, True, True]},
    index=['2020', '2019', '2018'])
pd.concat([df, df2], join='inner')

The *inner join* will only merge those parts of the DataFrame for which complete columns are available.

To merge two DataFrames on a common (shared) index, we can use the `merge()` function:

In [ ]:
pd.merge(df, df3, left_index=True, right_index=True)

### Dealing with missing data

we create a DataFrame with some missing data:

In [ ]:
df2 = df.copy()
df2.loc[['may', 'sep'], 'rain_mm'] = np.nan
df2.loc['feb', 'temp_C'] = np.nan
df2

we check for missing data:

In [ ]:
df2.isna()

Of course, the easiest solution to get rid of missing data is to drop all rows with missing data:

In [ ]:
df2.dropna()

But this is not always an option. We can fill all missing data with the mean value across the corresponding column:

In [ ]:
df2.fillna(df2.mean(axis=0))

This is a little bit more useful. But only a little. The average temperature in February is way too high. 

Instead, we can also interpolate missing values based on data:

In [ ]:
df2.interpolate()

## Specific types of data

### Categorical data

we create a DataFrame with categorical data:

In [ ]:
df2 = pd.DataFrame({'clouds': ['cloudy', 'cloudy', 'partly cloudy', 'mostly clear', 
                               'clear', 'clear', 'partly cloudy'],
                    'uv': [0, 0, 1, 3, 5, 5, 1]},
                    index=['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'])
df2

we extract the unique elements from column *clouds*:

In [ ]:
df2.clouds.unique()

we count how often those unique elements appear:

In [ ]:
df2.clouds.value_counts()

we can derive the mean uv index for those days with *partly cloudy* conditions:

In [ ]:
df2.loc[df2.clouds == 'partly cloudy', 'uv'].mean()

### Textual data

we identify rows for which the *clouds* column contains the word *cloud*:

In [ ]:
df2.clouds.str.contains('cloud', regex=False)

we can utilize the resulting logical array to extract those rows:

In [ ]:
df2.loc[df2.clouds.str.contains('cloud', regex=False)]

we can replace the appearance of the word *cloud* with *sunny*:

In [ ]:
df4 = df2.copy()
df4.loc[:, 'clouds'] = df4.clouds.str.replace('cloudy', 'sunny')
df4

### Dates and times

we create a Series containing dates and times:

In [ ]:
dates = pd.Series(['2020-01-01 12:34', '2020-03-01 08:47', 
                   '2020-06-01 14:23', '2020-09-01 22:56', 
                   '2020-12-01 13:45'])
dates

we transform those date/time strings to datetime objects:

In [ ]:
dates = pd.to_datetime(dates)
dates

we extract times:

In [ ]:
dates.dt.time

we compute time differences relative to the first row:

In [ ]:
datedelta = dates - dates.iloc[0]
datedelta

... and we convert these differences to seconds:

In [ ]:
datedelta.astype('timedelta64[s]')

## Functions

we create a new DataFrame and compute the mean over each column:

In [ ]:
df = pd.DataFrame({
    'temp_C': [12.3, 13.5, 9.2, 8.2, 10.2, 11.3, 13.5]},
    index=['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'])
df = pd.concat([df, df2], axis=1)

df.loc[:, ['temp_C', 'uv']].mean()

we use the aggregate method:

In [ ]:
df.loc[:, ['temp_C', 'uv']].agg(['min', 'max', 'mean'])

we aggregate different functions over different columns:

In [ ]:
df.loc[:, ['temp_C', 'uv']].agg({'temp_C': ['min', 'max', 'mean'], 'uv': 'median'})

we apply our own function to the data:

In [ ]:
def func(x):
    """some function"""
    return np.sum(3*x**2+3*x)
    
df.loc[:, ['temp_C', 'uv']].apply(func)

## Data Visualization

we plot the temperature data as bar plot:

In [ ]:
df3.plot(y='temp_C', kind='bar')

we create a histogram for all columns containing numerical data:

In [ ]:
df.hist()

we create a histogram over textual, categorical data:

In [ ]:
df2.clouds.value_counts().plot(kind='bar')